extends layout

block content
  .row(style="text-align:center;")
    .loginContainer
        h5 Node Authentication
        p Login or Register
        a.btn.btn-default(href='/login' style="margin-right:20px;")
          span.fa.fa-user
          |  Local Login
        a.btn.btn-default(href='/signup')
          span.fa.fa-user
          |  Local Signup

      

