body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.loginContainer {
    background: #e6e6e6;
    width: fit-content;
    padding: 20px;
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #484848;
}
